

  body                        { margin: 0; }

  .wrapper                    { position: relative; width: 100%; margin: 0; padding: 0; }

  .menu                       { position: fixed; width: 20%; height: 100%; }

  .links, .social             { width: 80%; padding: 10%; }

  .links h1                   { margin: 0; }

  .links nav ul               { margin: 20px 0 0 0; padding: 0; padding-left: 20px; }

  .links nav li               { margin-top: 10px; }

  .social                     { position: absolute; bottom: 50px;}

  .social ul                  { width: 100%; padding: 0; }

  .social li                  { float: left; width: 20px; margin-right: 10px; }

  .social li img              { width: 100%; height: auto;}

  .disclaimerText             { width: 100%; margin-top: 20px; float: left; }

  .content                    { width: 78%; height: 1000px; margin-left: 20%; padding-left: 2%; }

  .container                  { width: 100%; position: relative; }

  .container .block           { position: relative; height: auto; width: 18%; max-width: 100%; margin-right: 2%; margin-bottom: 2%; float: left; overflow: hidden; }


  /*
  MEDIA QUERIES */

  @media only screen and (max-width: 1600px){
    .container .block         { width: 23%; max-width: 100%; margin-right: 2%; margin-bottom: 2%; float: left; }
  }

  @media only screen and (max-width: 1200px){
    .container .block         { width: 31%; max-width: 100%; margin-right: 2%; margin-bottom: 2%; float: left; }
  }

  @media only screen and (max-width: 750px){

    .content { width: 100%; height: 1000px; margin-left: 0; padding-left: 0; }

    .container .block         { width: 48%; max-width: 100%; margin-right: 2%; margin-bottom: 2%; float: left; }

    .menu                     { position: fixed; width: 100%; height: 100px; }

    .links                    { width: 100%; padding: 0; }

    .links nav ul li          { margin-right: 20px; float: left; }

    .social                   { display: none; }
    /*
    .links, .social           { width: 80%; padding: 10%; }

    .links h1                 { margin: 0; }

    .links nav ul             { margin: 20px 0 0 0; padding: 0; padding-left: 20px; }

    .links nav li             { margin-top: 10px; }

    .social                   { position: absolute; bottom: 50px;}

    .social ul                { width: 100%; padding: 0; }

    .social li                { float: left; width: 20px; margin-right: 10px; }

    .social li img            { width: 100%; height: auto;}

    .disclaimerText           { width: 100%; margin-top: 20px; float: left; }
    */

  }
