body                        { margin: 0; }


.wrapper          { position: relative; width: 100%; margin: 0; padding: 0; }





@media only screen and (max-width: 320px){

  header      { width: 96%; margin: 0; padding: 2%; }

  .title      { width: 100%; margin: 0; }

  .menu       { display: inline-block; }

  .menu ul    { margin: 0; padding: 0; list-style: none; display: inline-block; }
  
  .menu ul li { width: 25%; margin: 20px 0 0 0; padding: 0; text-align: center; float: left; }

}



.clearfix:after{
  content: " ";
  display: block;
  height: 0;
  clear: both;
}
