body                              { margin: 0; padding: 0; }

#wrapper                          { position: relative; width: 96%; margin: 0; padding: 2%; }

/* MENU ANIMATION */
.animate-hide                     { -webkit-transition: all linear 0.5s; transition: all linear 0.5s; opacity: 1; padding: 25px 0 0 0; }

.animate-hide.ng-hide,
.animate-hide.ng-show             { opacity: 0; padding: 0 0 0 0; }

/* MENU */

.menu                             { width: 15%; height: 100vh; margin: 0; padding: 0 1% 0 1%; background-color: white; top: 0; display: inline-block; position: fixed; }

.menuTitle                        { width: 90%; margin: 25px 0 0 0; float: left; }

/*.menuIcon                         { display: none; }*/

.menuLinks ul                     { width: 100%; margin: 0; padding: 10px 0 10px 0; list-style: none; display: inline-block; background-color: white;}

.menuLinks ul li                  { width: 50%; margin: 50px 50% 0 0; padding: 0; text-align: center; float: left; font-size: 1em; }

.menuLinks ul li a:link,
.menuLinks ul li a:visited        { text-decoration: none; color: black; }

.menuLinks ul li a:active,
.menuLinks ul li a:visited:active { color: black; }

.menuLinks ul li a:hover          { text-decoration: underline; }

.social                           { position: absolute; bottom: 0; }

.social ul                        { list-style: none;  margin: 0 0 20px 0; padding: 0; }

.social li                        { float: left; width: 20px; margin-right: 10px; }

.social li img                    { width: 100%; height: auto;}

.disclaimerText                   { margin: 0 0 20px 0; font-size: 0.75em; }

/* CONTENT */

.content                          { width: 80%; margin: 0 0 0 20%; padding: 0; }

.container                        { width: 98%; padding-left: 2%; padding-top: 2%; }

.container .block                 { width: 18%; margin-right: 2%; margin-bottom: 2%; float: left; overflow: hidden; }

.container .block img             { width: 100%; height: 100%; transition: all .2s ease-in-out; }

.container .block img:hover       { transform: scale(1.1); opacity: 0.5; cursor: pointer; }

.footer                           { width: 98%; padding-left: 2%; padding-top: 2%; display: none; }



@media only screen and (min-width: 1201px) and (max-width: 1360px){

  .container .block               { width: 23%; }

}




@media only screen and (min-width: 960px) and (max-width: 1200px){

  .container .block               { width: 31%; }

}


@media only screen and (min-width: 768px) and (max-width: 959px){

  .menu             { width: 96%; height: 50px; margin: 0; padding: 0 1% 0 1%; background-color: white;  display: inline-block;}

  .menuTitle        { width: 90%; margin: 0; float: left; }

  /*.menuIcon         { display: none; }*/

  .menuLinks ul     { width: 100%; margin: 0; padding: 10px 0 10px 0; list-style: none; display: inline-block; background-color: white;}

  .menuLinks ul li  { width: 25%; margin: 50px 0 0 0; padding: 0; text-align: center; float: left; }

  .social           { display: none; }

  .content          { width: 100%; margin: 50px 0 0 0; padding: 0; }

  .container        { width: 98%; padding-left: 2%; padding-top: 2%; }

  .container .block { width: 31%; max-width: 100%; margin-right: 2%; margin-bottom: 2%; float: left; }

}



@media only screen and (max-width: 767px) {
  .menu             { width: 96%; height: 100px; margin: 0; padding: 0 1% 0 1%; background-color: white; position: fixed; top: 0; display: inline-block;}

  .menuTitle        { width: 90%; height: 70px; line-height: 70px; font-size: 2em; margin: 0; float: left; }

  .menuIcon         { width: 10%; height: 50px; line-height: 50px; margin: 10px 0 0 0; display: inline; }

  .menuLinks ul     { width: 100%; margin: 0; padding: 10px 0 10px 0; list-style: none; display: inline-block; background-color: white;}

  .menuLinks ul li  { width: 50%; margin: 20px 0 0 0; padding: 0; text-align: center; float: left; }

  .social           { display: none; }

  .content          { width: 100%; margin: 100px 0 0 0; padding: 0; }

  .container        { width: 98%; padding-left: 2%; padding-top: 2%; }

  .container .block { width: 48%; max-width: 100%; margin-right: 2%; margin-bottom: 2%; float: left; }
}



@media only screen and (min-width: 480px) and (max-width: 767px){

  .menu    { height: 75px; }
  .content { margin-top: 75px; }
}


@media only screen and (min-width: 321px) and (max-width: 479px){
  .menu    { height: 75px; }
  .content { margin-top: 75px; }
}




@media only screen and (max-width: 320px){
  .menu    { height: 50px; }
  .content { margin-top: 50px; }
}



.clearfix:after{
  content: " ";
  display: block;
  height: 0;
  clear: both;
}
