
  body{
    font-family: Helvetica, sans-serif;
  }

  .menu{
  }

  .block img{
    width: 100%;
    max-width: 100%;
    height: auto;
    max-height: 100%;
  }


  .testClass{
    background-color: blue;
  }
