<div ng-controller="landingCtrl">

  <div id="wrapper">
    <header class="menu">
      <h1 class="menuTitle">Titulo</h1>
      <img ng-click="showLinks()" ng-show="displayIcon" class="menuIcon toggleMenu" src="./images/menu.svg" />
      <nav ng-show="isShown" class="menuLinks animate-hide">
        <ul>
          <li><a href="#">Gallery</a></li>
          <li><a href="#">Listing</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>
    <div class="social">
      <ul class="clearfix">
        <li><img src="./images/facebook.svg" /></li>
        <li><img src="./images/twitter.svg" /></li>
        <li><img src="./images/instagram.svg" /></li>
      </ul>
      <div class="disclaimerText">© Copyright</div>
    </div>
    </header>

    <div class="content clearfix">
      <div class="container clearfix">
        <div class="block"><img src="./images/4.png" /></div>
        <div class="block"><img src="./images/2.png" /></div>
        <div class="block"><img src="./images/4.png" /></div>
        <div class="block"><img src="./images/2.png" /></div>
        <div class="block"><img src="./images/4.png" /></div>
        <div class="block"><img src="./images/2.png" /></div>
        <div class="block"><img src="./images/5.png" /></div>
        <div class="block"><img src="./images/2.png" /></div>
        <div class="block"><img src="./images/4.png" /></div>
        <div class="block"><img src="./images/5.png" /></div>
        <div class="block"><img src="./images/4.png" /></div>
        <div class="block"><img src="./images/2.png" /></div>
        <div class="block"><img src="./images/3.png" /></div>
        <div class="block"><img src="./images/2.png" /></div>
        <div class="block"><img src="./images/4.png" /></div>
        <div class="block"><img src="./images/2.png" /></div>
        <div class="block"><img src="./images/4.png" /></div>
        <div class="block"><img src="./images/2.png" /></div>
      </div>
      <div class="footer">© Copyright</div>
    </div>
  </div>

</div>
