<div ng-controller="secondCtrl">

  <div id="wrapper">
    <header class="menu">
      <h1 class="menuTitle">Titulo</h1>
      <img ng-click="showLinks()" class="menuIcon" src="./images/menu.svg" />
      <nav ng-show="isShown" class="menuLinks">
        <ul>
          <li>Enlace 1</li>
          <li>Enlace 2</li>
          <li>Enlace 3</li>
          <li>Enlace 4</li>
          <li>Enlace 5</li>
          <li>Enlace 6</li>
          <li>Enlace 7</li>
          <li>Enlace 8</li>
        </ul>
      </nav>
    <div class="social">
      <ul class="clearfix">
        <li><img src="./images/facebook.svg" /></li>
        <li><img src="./images/twitter.svg" /></li>
        <li><img src="./images/instagram.svg" /></li>
      </ul>
      <div class="disclaimerText">© Copyright</div>
    </div>
    </header>

    <div class="content clearfix">
      <div class="container clearfix">
        <div class="block"><img src="./images/4.png" /></div>
        <div class="block"><img src="./images/2.png" /></div>
        <div class="block"><img src="./images/4.png" /></div>
        <div class="block"><img src="./images/2.png" /></div>
        <div class="block"><img src="./images/4.png" /></div>
        <div class="block"><img src="./images/2.png" /></div>
        <div class="block"><img src="./images/5.png" /></div>
        <div class="block"><img src="./images/2.png" /></div>
        <div class="block"><img src="./images/4.png" /></div>
        <div class="block"><img src="./images/5.png" /></div>
        <div class="block"><img src="./images/4.png" /></div>
        <div class="block"><img src="./images/2.png" /></div>
        <div class="block"><img src="./images/3.png" /></div>
        <div class="block"><img src="./images/2.png" /></div>
        <div class="block"><img src="./images/4.png" /></div>
        <div class="block"><img src="./images/2.png" /></div>
        <div class="block"><img src="./images/4.png" /></div>
        <div class="block"><img src="./images/2.png" /></div>
      </div>
      <div class="footer">© Copyright</div>
    </div>
  </div>

</div>
