<div ng-controller="testCtrl">

  <div class="wrapper">
    <div class="menu">
      <header class="links">
        <h1>Titulo</h1>
        <nav>
          <ul>
            <li>Enlace 1</li>
            <li>Enlace 2</li>
            <li>Enlace 3</li>
            <li>Enlace 4</li>
            <li>Enlace 5</li>
          </ul>
        </nav>
      </header>
      <div class="social">
        <ul>
          <li><img src="./images/facebook.svg" /></li>
          <li><img src="./images/twitter.svg" /></li>
          <li><img src="./images/instagram.svg" /></li>
        </ul>
        <div class="disclaimerText">© Copyright</div>
      </div>
    </div>

    <div class="content">
      <div class="container">
        <div class="block"><img src="./images/4.png" /></div>
        <div class="block"><img src="./images/2.png" /></div>
        <div class="block"><img src="./images/4.png" /></div>
        <div class="block"><img src="./images/2.png" /></div>
        <div class="block"><img src="./images/4.png" /></div>
        <div class="block"><img src="./images/2.png" /></div>
        <div class="block"><img src="./images/5.png" /></div>
        <div class="block"><img src="./images/2.png" /></div>
        <div class="block"><img src="./images/4.png" /></div>
        <div class="block"><img src="./images/5.png" /></div>
        <div class="block"><img src="./images/4.png" /></div>
        <div class="block"><img src="./images/2.png" /></div>
        <div class="block"><img src="./images/3.png" /></div>
        <div class="block"><img src="./images/2.png" /></div>
        <div class="block"><img src="./images/4.png" /></div>
        <div class="block"><img src="./images/2.png" /></div>
        <div class="block"><img src="./images/4.png" /></div>
        <div class="block"><img src="./images/2.png" /></div>
      </div>
    </div>
  </div>

</div>
